@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/font/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
}

:root {
  --bg-blur: 10px;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/bg.png");
  /* background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/bg.png"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.text-color {
  color: #ffd6d6;
}
.text-style {
  /* background: url("./assets/bg2.png") 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ffd6d6;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.4);
}
.icon-wh {
  font-size: 24px;
}

.text-font {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-style: normal;
}
.text-font2 {
  font-family: "SF Pro Display";
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.os-main {
  position: relative;
  width: 75%;
  min-height: 600px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(var(--bg-blur));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 36px;
}

.urlbar-bg {
  width: 65%;
  min-height: 72px;
  margin-bottom: 1rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  backdrop-filter: blur(var(--bg-blur));
  box-shadow: 0px 2px 0px 0px rgba(180, 180, 180, 0.4);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding: 0.75rem 0.5rem;
}

.navbar-bg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(var(--bg-blur));
  box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 0.2),
    0px 2px 0px 0px rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  position: absolute;
  left: calc(-1rem - 72px);
  top: 28%;
  width: 72px;
}
.navbar-sm {
  display: none;
}

@media screen and (max-width: 1400px) {
  .os-main {
    width: 95%;
  }

  .urlbar-bg {
    width: 95%;
  }

  .navbar-bg {
    display: none;
  }
  .navbar-sm {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(var(--bg-blur));
    box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 0.2),
      0px 2px 0px 0px rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -1%;
    height: 72px;
  }
  .btn-none {
    display: none;
  }
}
.drag-btn {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 37.5px;
  height: 37.5px;
  cursor: grab;
  border-top-left-radius: 100px;
}

/* URL Bar */

.urlbar-bar {
  width: 100%;
  height: 50px;
  background: rgba(12, 12, 12, 0.3);
  border-radius: 20px;
  box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.2),
    inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}
.url-items {
  width: 44px;
  height: 44px;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.url-items-flex {
  display: flex;
}
.url-items-none {
  display: none;
}
.url-width1 {
  width: 15%;
}
.url-width2 {
  width: 70%;
  padding: 16px;
}
@media screen and (max-width: 950px) {
  .url-items-flex {
    display: none;
  }

  .url-items-none {
    display: flex;
    margin-top: 1rem;
  }
  .url-width2 {
    width: 100%;
    padding: 16px;
  }
}

/* Navigation Bar */
.navbar-items {
  width: 100%;
  height: 75px;
  cursor: pointer;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .navbar-items {
    width: 100%;
    height: 75px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.navbar-item {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-item-selected {
  background: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Screen */

.img-width,
.contact-img {
  width: 445px;
}
.adaptive-bottom {
  bottom: 25px;
  font-size: 60px;
}
@media screen and (max-width: 500px) {
  .img-width {
    width: 100%;
  }
  .adaptive-bottom {
    bottom: -15px;
    font-size: 40px;
  }
}

/* Contact */

.contact-detail {
  text-decoration: none;
  color: #fffbdd;
  cursor: pointer;
  transition: 0.2s linear;
}

.contact-detail:hover {
  color: #ffd6d6;
  transition: 0.2s linear;
}

.contact-detail,
.contact-title {
  font-size: 24px;
}

@media screen and (max-width: 326px) {
  .contact-detail,
  .contact-title {
    font-size: 16px;
  }
}

/* Portfolio */

.portfolio-item {
  background-image: linear-gradient(
    to bottom,
    #ffd6d6 0%,
    #ffd6d6 50%,
    #ffd6d6 100%
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
.portfolio-app-name {
  font-size: 24px;
  font-family: "SF Pro Display";
  font-weight: 300;
  color: #ffd6d6;
}
.top-left-item {
  border-radius: 0;
  border-top-left-radius: 24px;
}
.top-right-item {
  border-radius: 0;
  border-top-right-radius: 24px;
}
.bottom-left-item {
  border-radius: 0;
  border-bottom-left-radius: 24px;
}
.bottom-right-item {
  border-radius: 0;
  border-bottom-right-radius: 24px;
}
@media screen and (max-width: 767px) {
  .os-main {
    margin-bottom: 120px;
  }
}

/* Range Input */

input[type="range"] {
  background: none;
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 90%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffd6d6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
input[type="range"]::-ms-fill-upper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
